* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-header {
  width: 100%;
  height: 121px;
}

.mobile-header-top {
  width: 100%;
  height: 48px;
  background: #f5f5f7cc;
}

.mobile-header-bottom {
  width: 100%;
  height: 73;
  background-color: #ffffff;
}

.item1-px {
  width: 16px;
  height: 19px;
}

.item2-px {
  width: 16.05px;
  height: 16.03px;
}

.item3-px {
  width: 15.12px;
  height: 17.6px;
}

.item4 {
  width: 14px;
  border: 1.2px solid;
}

.item-box {
  width: 48px;
  height: 48px;
}

.gap {
  gap: 7px;
}

.header-text {
  padding: 18px 31px;
}

.font-size {
  font-size: 14px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.card {
  width: 100%;
  height: 500px;
}

.bg-image-1 {
  background-image: url(./Image/Figure.png);
  background-size: cover;
  background-position: center;
}

.card-text {
  width: 241px;
  height: 114px;
}

.text1 {
  font-size: 30px;
  font-weight: 700;
  color: #f5f5f7;
}
